/.qmake.stash
/*.o
/ADEPO
/moc_atlas_bcam.cpp
/moc_ouverture_projet.cpp
/moc_lwdaq_client.cpp
/ui_ATLAS_BCAM.h
/Acquisifier_Results.txt
/Acquisifier_Params.tcl
/Acquisifier_Settings.tcl
/Acquisifier_Script.tcl
